






<% @products.each_slice(4) do |product_group| %>
  <div class="row product-row">
    <% product_group.each do |product| %>
      <div class="col-md-3">
        <div class="thumb">
          <a href="/products/<%= product.id %>">
            <p><%= product.name %></p>
              <%if product.photos.first != nil %>
                <td><img src="<%= product.photos.first.name %>" class="img-responsive"></td>
              <%else%>
                <td><img src="http://www.clker.com/cliparts/o/u/D/d/p/w/no-photo-md.png" class="img-responsive"></td>
              <%end%>
            <p><%= number_to_currency(product.price) %></p>
            <p><%= product.description %></p>


          </a>
        </div>
      </div>
    <% end %>
  </div>
<% end %>




