<div class="product-box">

  

    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading"><h2>Pet Inventory</h2></div>
      <div class="panel-body">
        <p>Here are the current list of pets as of <%= Time.now.strftime("%m/%d/%Y.") %> Need to add a pet to the directory? <span id="add-pet"><button type="button" class="btn btn-primary">Add Pet</button></span></p>
      </div>

      <!-- Table -->
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
          <tr>
            <td><a href="/products/<%= product.id%>"> <%= product.name %> </a></td>
            <td><%= product.price %></td>
            <td><%= product.description %></td>
            <td><a href="/products/<%= product.id%>/edit"><button type="button" class="btn btn-warning">Edit</button></a></td>
            <td><a data-confirm="Are you sure?" data-method="delete" href="/products/<%= product.id %>" rel="nofollow"><button type="button" class="btn btn-danger">Delete</button></a></td>

          </tr>
          <% end %>
        </tbody>
      </table>
    </div>


</div>
