<div class="product-box">

  

    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading"><h2>Inventory</h2><a href="/products?discount=discount_only"><button type="button" class="btn btn-info">Show Only Cheap Candy/Sweets</button></a></div>
      <div class="panel-body">
        <p>Current list of pets as of <%= Time.now.strftime("%A, %d %b %Y %l:%M %p.") %> Need to add inventory to the directory? <span id="add-pet"><button type="button" class="btn btn-primary">Add</button></span></p>
      </div>

      <!-- Table -->
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Picture</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
          <tr>
            <td><a href="/products/<%= product.id%>"> <%= product.name %> </a></td>
            <td><div class="<%= product.status %>"><div class="no-wrap"><%= product.dollarizer %></div></div></td>
            <td><%= product.description %></td>
            <td><img src="<%= product.photo_check %>" height="35" width="35"></td>
            <td><a href="/products/<%= product.id%>/edit"><button type="button" class="btn btn-warning">Edit</button></a></td>
            <td><a data-confirm="Are you sure?" data-method="delete" href="/products/<%= product.id %>" rel="nofollow"><button type="button" class="btn btn-danger">Delete</button></a></td>

          </tr>
          <% end %>
        </tbody>
      </table>
    </div>


</div>
