


<div class="product-box">
  <div class="row">
    <div class="col-md-8"><img src="<%= @product.photo_check %>" class="img-responsive"></div>
    <div class="col-md-4"><p> <%= product.name %> </p>
            <p><div class="<%= product.status %>"><%= product.dollarizer %></div></p>
            <p><%= product.description %></p>/div>
  </div>
</div>