


<div class="product-box">
  <div class="row">
    <div class="col-md-8">

      <% @product.photos.each do |photo| %>
      <img src="<%= photo.name %>" height="100" width="100">
      <% end %>

    </div>
    <div class="col-md-4">
      <h2> <%= @product.name %> </h2>
      <p><div class="<%= @product.status %>"><%= number_to_currency(@product.price) %></div></p>
      <p><%= @product.description %></p>
      <h3>Vender Information:</h3>
      <p><%= @product.vendor.name %></p>
      <p><%= @product.vendor.email %></p>
      <p><%= @product.vendor.address %></p>
      <p><%= @product.vendor.phone %></p>

      <%= bootstrap_form_for @carted_product do |f| %>
      <div>
        <%= f.text_field :quantity %>
      </div>
      <div>
        <%= f.hidden_field :product_id, value: @product.id %>
      </div>


    <div>
      <%= f.submit 'Add to Shopping Cart' %>
    </div>
    <% end %> 
  </div> 
</div>
</div>